{
  "info": {
    "description": "Public REST and realtime API for Cossistant. Use public keys for browser/widget visitor flows and private keys for trusted server, CLI, MCP, and support-agent integrations.",
    "title": "Cossistant API",
    "version": "1.0.0"
  },
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://api.cossistant.com/v1"
    }
  ],
  "components": {
    "schemas": {
      "RealtimeConnectionAccepted": {
        "additionalProperties": false,
        "properties": {
          "connectionId": {
            "description": "Server-assigned connection identifier.",
            "type": "string"
          },
          "type": {
            "enum": [
              "connection.accepted"
            ],
            "type": "string"
          }
        },
        "required": [
          "type",
          "connectionId"
        ],
        "type": "object"
      },
      "RealtimeErrorMessage": {
        "additionalProperties": false,
        "properties": {
          "code": {
            "description": "Machine-readable error code.",
            "type": "string"
          },
          "message": {
            "description": "Human-readable error detail.",
            "type": "string"
          },
          "type": {
            "enum": [
              "error"
            ],
            "type": "string"
          }
        },
        "required": [
          "type",
          "code",
          "message"
        ],
        "type": "object"
      },
      "RealtimeOutboundEvent": {
        "additionalProperties": true,
        "description": "Realtime event payloads. Event names mirror conversation and visitor updates emitted by the REST API.",
        "properties": {
          "type": {
            "description": "Realtime event type.",
            "type": "string"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "RestErrorResponse": {
        "additionalProperties": false,
        "properties": {
          "error": {
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "code",
              "message"
            ],
            "type": "object"
          }
        },
        "required": [
          "error"
        ],
        "type": "object"
      }
    },
    "parameters": {},
    "securitySchemes": {
      "PrivateApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key",
        "description": "Private API key in Bearer token format. Example: `Authorization: Bearer sk_live_...`."
      },
      "PublicApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Public-Key",
        "description": "Public API key for browser-based authentication. Requests must include an `Origin` header that matches the website allowlist."
      }
    }
  },
  "paths": {
    "/ai-agents/{id}/training": {
      "get": {
        "summary": "Get AI agent training status",
        "description": "Returns the current public and internal knowledge base training status for a specific AI agent.",
        "operationId": "getAiAgentTrainingStatus",
        "tags": [
          "AI Agents"
        ],
        "security": [
          {
            "PrivateApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The AI agent ID",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
              "example": "01JG000000000000000000000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI agent training status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "aiAgentId": {
                      "type": "string",
                      "format": "ulid",
                      "description": "The AI agent's unique identifier.",
                      "example": "01JG000000000000000000000"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "out_of_date",
                        "trained",
                        "training_ongoing"
                      ],
                      "description": "Public-facing knowledge base training status.",
                      "example": "out_of_date"
                    },
                    "internalStatus": {
                      "type": "string",
                      "enum": [
                        "idle",
                        "pending",
                        "training",
                        "completed",
                        "failed"
                      ],
                      "description": "Internal training state used by the training worker.",
                      "example": "completed"
                    },
                    "progress": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 100,
                      "description": "Training progress percentage.",
                      "example": 100
                    },
                    "updatedSourcesCount": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Number of included knowledge entries updated since the last successful training run.",
                      "example": 3
                    },
                    "canTrainAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time",
                      "description": "When the next training run is allowed under the current plan cooldown. Null means training may be started immediately.",
                      "example": "2024-01-01T00:30:00.000Z"
                    },
                    "lastTrainedAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time",
                      "description": "When the knowledge base was last trained successfully.",
                      "example": "2024-01-01T00:00:00.000Z"
                    },
                    "trainingStartedAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time",
                      "description": "When the current or last training run started.",
                      "example": "2024-01-01T00:05:00.000Z"
                    },
                    "trainedItemsCount": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "minimum": 0,
                      "description": "How many knowledge items were included in the last successful training run.",
                      "example": 42
                    },
                    "lastError": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Last training error message, if any.",
                      "example": "Embedding provider timeout"
                    }
                  },
                  "required": [
                    "aiAgentId",
                    "status",
                    "internalStatus",
                    "progress",
                    "updatedSourcesCount",
                    "canTrainAt",
                    "lastTrainedAt",
                    "trainingStartedAt",
                    "trainedItemsCount",
                    "lastError"
                  ],
                  "description": "Current knowledge base training status for an AI agent, including both public and internal state."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing private API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Private API key required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "AI agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Start AI agent training",
        "description": "Queues a retraining job for the AI agent knowledge base. Requires a private API key. When using an unlinked private key, send `X-Actor-User-Id` with a valid website teammate ID.",
        "operationId": "startAiAgentTraining",
        "tags": [
          "AI Agents"
        ],
        "security": [
          {
            "PrivateApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The AI agent ID",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
              "example": "01JG000000000000000000000"
            }
          },
          {
            "name": "X-Actor-User-Id",
            "in": "header",
            "description": "Acting teammate identifier for unlinked private API keys. Required on actor-aware private routes when the private key is not linked to a team member. Ignored when the private key is linked.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
              "example": "01JG000000000000000000000"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "AI agent training job queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "aiAgentId": {
                      "type": "string",
                      "format": "ulid",
                      "description": "The AI agent's unique identifier.",
                      "example": "01JG000000000000000000000"
                    },
                    "jobId": {
                      "type": "string",
                      "description": "Queued training job identifier.",
                      "example": "ai-training-01JG000000000000000000000"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "training_ongoing"
                      ],
                      "description": "Public-facing status immediately after a retraining job has been queued.",
                      "example": "training_ongoing"
                    },
                    "internalStatus": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "training"
                      ],
                      "description": "Initial internal worker status immediately after the job is queued.",
                      "example": "pending"
                    },
                    "progress": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 100,
                      "description": "Initial training progress percentage.",
                      "example": 0
                    }
                  },
                  "required": [
                    "aiAgentId",
                    "jobId",
                    "status",
                    "internalStatus",
                    "progress"
                  ],
                  "description": "Response returned after a knowledge base retraining job has been queued."
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required actor header for an unlinked private key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing private API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Private API key required or actor is not allowed for this website",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "AI agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Training is already in progress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Training cooldown has not elapsed yet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/ai-agents/{id}": {
      "get": {
        "summary": "Get an AI agent",
        "description": "Retrieves a single AI agent by ID for the authenticated website.",
        "operationId": "getAiAgent",
        "tags": [
          "AI Agents"
        ],
        "security": [
          {
            "PrivateApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The AI agent ID",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
              "example": "01JG000000000000000000000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AI agent retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "ulid",
                      "description": "The AI agent's unique identifier.",
                      "example": "01JG000000000000000000000"
                    },
                    "name": {
                      "type": "string",
                      "description": "The AI agent's display name.",
                      "example": "Support Assistant"
                    },
                    "image": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The AI agent's profile image URL.",
                      "example": "https://cdn.example.com/agent-avatar.png"
                    },
                    "description": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "A brief description of the AI agent's purpose.",
                      "example": "Helps users with common support questions."
                    },
                    "basePrompt": {
                      "type": "string",
                      "description": "The system prompt that defines the AI agent's behavior.",
                      "example": "You are a helpful support assistant..."
                    },
                    "model": {
                      "type": "string",
                      "description": "The OpenRouter model identifier.",
                      "example": "moonshotai/kimi-k2-0905"
                    },
                    "temperature": {
                      "type": [
                        "number",
                        "null"
                      ],
                      "description": "The temperature setting for response generation (0-2).",
                      "example": 0.7
                    },
                    "maxOutputTokens": {
                      "type": [
                        "number",
                        "null"
                      ],
                      "description": "Maximum tokens for response generation.",
                      "example": 1024
                    },
                    "isActive": {
                      "type": "boolean",
                      "description": "Whether the AI agent is currently active.",
                      "example": true
                    },
                    "lastUsedAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time",
                      "description": "When the AI agent was last used.",
                      "example": "2024-01-01T00:00:00.000Z"
                    },
                    "usageCount": {
                      "type": "number",
                      "description": "Total number of times the AI agent has been used.",
                      "example": 42
                    },
                    "goals": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "string"
                      },
                      "description": "The goals/intents for this AI agent.",
                      "example": [
                        "support",
                        "product_qa"
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the AI agent was created.",
                      "example": "2024-01-01T00:00:00.000Z"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the AI agent was last updated.",
                      "example": "2024-01-01T00:00:00.000Z"
                    },
                    "onboardingCompletedAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time",
                      "description": "When onboarding was completed. Null if still in onboarding flow.",
                      "example": "2024-01-01T00:00:00.000Z"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "image",
                    "description",
                    "basePrompt",
                    "model",
                    "temperature",
                    "maxOutputTokens",
                    "isActive",
                    "lastUsedAt",
                    "usageCount",
                    "goals",
                    "createdAt",
                    "updatedAt",
                    "onboardingCompletedAt"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing private API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Private API key required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "AI agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{id}": {
      "get": {
        "summary": "Retrieve an organization",
        "description": "Retrieve an organization by its ID for the authenticated organization.",
        "tags": [
          "Organizations"
        ],
        "security": [
          {
            "PrivateApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The organization ID to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "ulid",
                      "description": "The organization's unique identifier.",
                      "example": "01JG000000000000000000000"
                    },
                    "name": {
                      "type": "string",
                      "description": "The organization's name.",
                      "example": "Acme Corp"
                    }
                  },
                  "required": [
                    "id",
                    "name"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing private API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Private API key required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Organization not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "getOrganization"
      }
    },
    "/websites": {
      "get": {
        "summary": "Get website information",
        "description": "Returns the website information associated with the provided API key. This endpoint supports both public and private API keys with different authentication methods.",
        "tags": [
          "Website"
        ],
        "security": [
          {
            "PrivateApiKey": []
          },
          {
            "PublicApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "description": "Required when using public API keys. Must match one of the website's whitelisted domains. Browsers send this automatically.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri",
              "example": "https://example.com"
            }
          },
          {
            "name": "X-Visitor-Id",
            "in": "header",
            "description": "Visitor ID from localStorage.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
              "example": "01JG000000000000000000000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Website information successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "ulid",
                      "description": "The website's unique identifier.",
                      "example": "01JG000000000000000000000"
                    },
                    "name": {
                      "type": "string",
                      "description": "The website's name.",
                      "example": "Dub"
                    },
                    "domain": {
                      "type": "string",
                      "description": "The website's domain.",
                      "example": "dub.co"
                    },
                    "description": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The website's description.",
                      "example": "Link management for modern marketing teams."
                    },
                    "logoUrl": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The website's logo URL.",
                      "example": "https://dub.co/logo.png"
                    },
                    "organizationId": {
                      "type": "string",
                      "format": "ulid",
                      "description": "The organization's unique identifier.",
                      "example": "01JG000000000000000000000"
                    },
                    "defaultLanguage": {
                      "type": "string",
                      "default": "en",
                      "description": "The website's default working language.",
                      "example": "en"
                    },
                    "status": {
                      "type": "string",
                      "description": "The website's status.",
                      "example": "active"
                    },
                    "lastOnlineAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time",
                      "description": "The website's support last online date.",
                      "example": "2021-01-01T00:00:00.000Z"
                    },
                    "availableHumanAgents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "ulid",
                            "description": "The human agent's unique identifier.",
                            "example": "01JG000000000000000000000"
                          },
                          "name": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The agent's name.",
                            "example": "John Doe"
                          },
                          "email": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "email",
                            "description": "The agent's email address.",
                            "example": "john@example.com"
                          },
                          "image": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The agent's avatar URL.",
                            "example": "https://cossistant.com/avatar.png"
                          },
                          "lastSeenAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time",
                            "description": "The agent's last online timestamp, used to determine if the agent is online. If the agent is offline, this will be null or more than 5 minutes ago.",
                            "example": "2021-01-01T00:00:00.000Z"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "email",
                          "image",
                          "lastSeenAt"
                        ]
                      }
                    },
                    "availableAIAgents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "ulid",
                            "description": "The AI agent's unique identifier.",
                            "example": "01JG000000000000000000000"
                          },
                          "name": {
                            "type": "string",
                            "description": "The AI agent's name.",
                            "example": "John Doe"
                          },
                          "image": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The AI agent's avatar URL.",
                            "example": "https://cossistant.com/avatar.png"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "image"
                        ]
                      }
                    },
                    "visitor": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "ulid",
                          "description": "The visitor's unique identifier (ULID).",
                          "example": "01JG000000000000000000000"
                        },
                        "isBlocked": {
                          "type": "boolean",
                          "description": "Whether the visitor is currently blocked.",
                          "example": false
                        },
                        "language": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The visitor's preferred language.",
                          "example": "en-US"
                        },
                        "contact": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "ulid",
                              "description": "The contact's unique identifier.",
                              "example": "01JG000000000000000000000"
                            },
                            "name": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "The contact's name.",
                              "example": "John Doe"
                            },
                            "email": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "The contact's email address.",
                              "example": "john.doe@example.com"
                            },
                            "image": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "The contact's avatar/profile image URL.",
                              "example": "https://example.com/avatar.png"
                            },
                            "metadataHash": {
                              "type": "string",
                              "description": "Hash of the contact's metadata. Used to detect if metadata has changed without comparing full objects.",
                              "example": "a1b2c3d4"
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "email",
                            "image"
                          ],
                          "description": "Contact information if the visitor has been identified via .identify().",
                          "example": {
                            "id": "01JG000000000000000000000",
                            "name": "John Doe",
                            "email": "john.doe@example.com",
                            "image": "https://example.com/avatar.png"
                          }
                        }
                      },
                      "required": [
                        "id",
                        "isBlocked",
                        "language",
                        "contact"
                      ],
                      "description": "The visitor information. Either existing visitor data or newly created visitor."
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "domain",
                    "description",
                    "logoUrl",
                    "organizationId",
                    "status",
                    "lastOnlineAt",
                    "availableHumanAgents",
                    "availableAIAgents",
                    "visitor"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Origin validation failed for public key or domain not whitelisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Website not found for this API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "listWebsites"
      }
    },
    "/websites/team-members": {
      "get": {
        "summary": "List website team members",
        "description": "Returns the website-access teammates that can be linked to private API keys or used as actor IDs on actor-aware private API routes.",
        "operationId": "listWebsiteTeamMembers",
        "tags": [
          "Website"
        ],
        "security": [
          {
            "PrivateApiKey": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Website team members retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "ulid",
                            "description": "The user's unique identifier.",
                            "example": "01JG000000000000000000000"
                          },
                          "name": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The user's name.",
                            "example": "John Doe"
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "description": "The user's email address.",
                            "example": "john.doe@example.com"
                          },
                          "role": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The user's role.",
                            "example": "admin"
                          },
                          "image": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "uri",
                            "description": "The user's image URL.",
                            "example": "https://example.com/image.png"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The user's creation date.",
                            "example": "2021-01-01T00:00:00.000Z"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The user's last update date.",
                            "example": "2021-01-01T00:00:00.000Z"
                          },
                          "lastSeenAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time",
                            "description": "The user's last seen date.",
                            "example": "2021-01-01T00:00:00.000Z"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "email",
                          "role",
                          "image",
                          "createdAt",
                          "updatedAt",
                          "lastSeenAt"
                        ]
                      },
                      "description": "Website teammates that can be linked to private API keys or used as actor IDs."
                    }
                  },
                  "required": [
                    "members"
                  ],
                  "description": "List of website-access team members."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing private API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Private API key required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/messages": {
      "post": {
        "summary": "Send a timeline item to a conversation",
        "description": "Send a new timeline item to an existing conversation. When item.createdAt is omitted, the server assigns the timestamp. Historical timestamps are allowed. Timestamps more than 5 minutes in the future are rejected.",
        "tags": [
          "Messages",
          "Timeline item"
        ],
        "security": [
          {
            "PrivateApiKey": []
          },
          {
            "PublicApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "Origin",
            "in": "header",
            "description": "Required when using public API keys. Must match one of the website's whitelisted domains. Browsers send this automatically.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uri",
              "example": "https://example.com"
            }
          },
          {
            "name": "X-Actor-User-Id",
            "in": "header",
            "description": "Acting teammate identifier for unlinked private API keys. Required on actor-aware private routes when the private key is not linked to a team member. Ignored when the private key is linked.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
              "example": "01JG000000000000000000000"
            }
          },
          {
            "name": "X-Visitor-Id",
            "in": "header",
            "description": "Visitor ID from localStorage.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
              "example": "01JG000000000000000000000"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "conversationId": {
                    "type": "string",
                    "description": "ID of the conversation to send the timeline item to"
                  },
                  "item": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Optional client-generated ID for the timeline item"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "message",
                          "event",
                          "identification",
                          "tool"
                        ],
                        "default": "message",
                        "description": "Type of timeline item - defaults to MESSAGE"
                      },
                      "text": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Main text content of the timeline item. Use null for non-text items when no human-readable text is needed."
                      },
                      "parts": {
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "text"
                                  ],
                                  "description": "Text content part - matches AI SDK TextUIPart"
                                },
                                "text": {
                                  "type": "string",
                                  "description": "The text content"
                                },
                                "state": {
                                  "type": "string",
                                  "enum": [
                                    "streaming",
                                    "done"
                                  ],
                                  "description": "AI SDK state: 'streaming' = still processing, 'done' = complete"
                                }
                              },
                              "required": [
                                "type",
                                "text"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "reasoning"
                                  ],
                                  "description": "AI reasoning/chain-of-thought - matches AI SDK ReasoningUIPart"
                                },
                                "text": {
                                  "type": "string",
                                  "description": "The reasoning text content"
                                },
                                "state": {
                                  "type": "string",
                                  "enum": [
                                    "streaming",
                                    "done"
                                  ],
                                  "description": "AI SDK state: 'streaming' = still processing, 'done' = complete"
                                },
                                "providerMetadata": {
                                  "type": "object",
                                  "properties": {
                                    "cossistant": {
                                      "type": "object",
                                      "properties": {
                                        "visibility": {
                                          "type": "string",
                                          "enum": [
                                            "public",
                                            "private"
                                          ],
                                          "description": "Part-level visibility control for filtering"
                                        },
                                        "progressMessage": {
                                          "type": "string",
                                          "description": "Custom progress message to display during execution"
                                        },
                                        "knowledgeId": {
                                          "type": "string",
                                          "description": "Reference to a Cossistant knowledge entry"
                                        },
                                        "toolTimeline": {
                                          "type": "object",
                                          "properties": {
                                            "logType": {
                                              "type": "string",
                                              "enum": [
                                                "customer_facing",
                                                "log",
                                                "decision"
                                              ],
                                              "description": "Tool timeline classification: conversation-visible, log-only, or decision stage"
                                            },
                                            "triggerMessageId": {
                                              "type": "string",
                                              "description": "Message ID that triggered the tool/decision workflow execution"
                                            },
                                            "workflowRunId": {
                                              "type": "string",
                                              "description": "Workflow run identifier used to correlate tool timeline updates"
                                            },
                                            "triggerVisibility": {
                                              "type": "string",
                                              "enum": [
                                                "public",
                                                "private"
                                              ],
                                              "description": "Visibility of the trigger message at the time the tool was executed"
                                            }
                                          },
                                          "required": [
                                            "logType",
                                            "triggerMessageId",
                                            "workflowRunId"
                                          ],
                                          "description": "Tool timeline metadata used to classify visibility and trigger linkage"
                                        }
                                      }
                                    }
                                  },
                                  "additionalProperties": {}
                                }
                              },
                              "required": [
                                "type",
                                "text"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "pattern": "^tool-.+$",
                                  "description": "Tool type following AI SDK pattern: tool-{toolName}"
                                },
                                "toolCallId": {
                                  "type": "string",
                                  "description": "Unique identifier for this tool invocation"
                                },
                                "toolName": {
                                  "type": "string",
                                  "description": "Name of the tool being invoked"
                                },
                                "input": {
                                  "type": "object",
                                  "additionalProperties": {},
                                  "description": "Input parameters passed to the tool"
                                },
                                "output": {
                                  "description": "Output returned by the tool (when state is 'result')"
                                },
                                "state": {
                                  "type": "string",
                                  "enum": [
                                    "partial",
                                    "result",
                                    "error"
                                  ],
                                  "description": "AI SDK tool state: 'partial' = executing, 'result' = success, 'error' = failed"
                                },
                                "errorText": {
                                  "type": "string",
                                  "description": "Error message when state is 'error'"
                                },
                                "callProviderMetadata": {
                                  "type": "object",
                                  "properties": {
                                    "cossistant": {
                                      "type": "object",
                                      "properties": {
                                        "visibility": {
                                          "type": "string",
                                          "enum": [
                                            "public",
                                            "private"
                                          ],
                                          "description": "Part-level visibility control for filtering"
                                        },
                                        "progressMessage": {
                                          "type": "string",
                                          "description": "Custom progress message to display during execution"
                                        },
                                        "knowledgeId": {
                                          "type": "string",
                                          "description": "Reference to a Cossistant knowledge entry"
                                        },
                                        "toolTimeline": {
                                          "type": "object",
                                          "properties": {
                                            "logType": {
                                              "type": "string",
                                              "enum": [
                                                "customer_facing",
                                                "log",
                                                "decision"
                                              ],
                                              "description": "Tool timeline classification: conversation-visible, log-only, or decision stage"
                                            },
                                            "triggerMessageId": {
                                              "type": "string",
                                              "description": "Message ID that triggered the tool/decision workflow execution"
                                            },
                                            "workflowRunId": {
                                              "type": "string",
                                              "description": "Workflow run identifier used to correlate tool timeline updates"
                                            },
                                            "triggerVisibility": {
                                              "type": "string",
                                              "enum": [
                                                "public",
                                                "private"
                                              ],
                                              "description": "Visibility of the trigger message at the time the tool was executed"
                                            }
                                          },
                                          "required": [
                                            "logType",
                                            "triggerMessageId",
                                            "workflowRunId"
                                          ],
                                          "description": "Tool timeline metadata used to classify visibility and trigger linkage"
                                        }
                                      }
                                    }
                                  },
                                  "additionalProperties": {}
                                },
                                "providerMetadata": {
                                  "type": "object",
                                  "properties": {
                                    "cossistant": {
                                      "type": "object",
                                      "properties": {
                                        "visibility": {
                                          "type": "string",
                                          "enum": [
                                            "public",
                                            "private"
                                          ],
                                          "description": "Part-level visibility control for filtering"
                                        },
                                        "progressMessage": {
                                          "type": "string",
                                          "description": "Custom progress message to display during execution"
                                        },
                                        "knowledgeId": {
                                          "type": "string",
                                          "description": "Reference to a Cossistant knowledge entry"
                                        },
                                        "toolTimeline": {
                                          "type": "object",
                                          "properties": {
                                            "logType": {
                                              "type": "string",
                                              "enum": [
                                                "customer_facing",
                                                "log",
                                                "decision"
                                              ],
                                              "description": "Tool timeline classification: conversation-visible, log-only, or decision stage"
                                            },
                                            "triggerMessageId": {
                                              "type": "string",
                                              "description": "Message ID that triggered the tool/decision workflow execution"
                                            },
                                            "workflowRunId": {
                                              "type": "string",
                                              "description": "Workflow run identifier used to correlate tool timeline updates"
                                            },
                                            "triggerVisibility": {
                                              "type": "string",
                                              "enum": [
                                                "public",
                                                "private"
                                              ],
                                              "description": "Visibility of the trigger message at the time the tool was executed"
                                            }
                                          },
                                          "required": [
                                            "logType",
                                            "triggerMessageId",
                                            "workflowRunId"
                                          ],
                                          "description": "Tool timeline metadata used to classify visibility and trigger linkage"
                                        }
                                      }
                                    }
                                  },
                                  "additionalProperties": {}
                                }
                              },
                              "required": [
                                "type",
                                "toolCallId",
                                "toolName",
                                "input",
                                "state"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "source-url"
                                  ],
                                  "description": "URL source citation - matches AI SDK SourceUrlUIPart"
                                },
                                "sourceId": {
                                  "type": "string",
                                  "description": "Unique identifier for this source"
                                },
                                "url": {
                                  "type": "string",
                                  "format": "uri",
                                  "description": "URL of the source"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Title of the source"
                                },
                                "providerMetadata": {
                                  "type": "object",
                                  "properties": {
                                    "cossistant": {
                                      "type": "object",
                                      "properties": {
                                        "visibility": {
                                          "type": "string",
                                          "enum": [
                                            "public",
                                            "private"
                                          ],
                                          "description": "Part-level visibility control for filtering"
                                        },
                                        "progressMessage": {
                                          "type": "string",
                                          "description": "Custom progress message to display during execution"
                                        },
                                        "knowledgeId": {
                                          "type": "string",
                                          "description": "Reference to a Cossistant knowledge entry"
                                        },
                                        "toolTimeline": {
                                          "type": "object",
                                          "properties": {
                                            "logType": {
                                              "type": "string",
                                              "enum": [
                                                "customer_facing",
                                                "log",
                                                "decision"
                                              ],
                                              "description": "Tool timeline classification: conversation-visible, log-only, or decision stage"
                                            },
                                            "triggerMessageId": {
                                              "type": "string",
                                              "description": "Message ID that triggered the tool/decision workflow execution"
                                            },
                                            "workflowRunId": {
                                              "type": "string",
                                              "description": "Workflow run identifier used to correlate tool timeline updates"
                                            },
                                            "triggerVisibility": {
                                              "type": "string",
                                              "enum": [
                                                "public",
                                                "private"
                                              ],
                                              "description": "Visibility of the trigger message at the time the tool was executed"
                                            }
                                          },
                                          "required": [
                                            "logType",
                                            "triggerMessageId",
                                            "workflowRunId"
                                          ],
                                          "description": "Tool timeline metadata used to classify visibility and trigger linkage"
                                        }
                                      }
                                    }
                                  },
                                  "additionalProperties": {}
                                }
                              },
                              "required": [
                                "type",
                                "sourceId",
                                "url"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "source-document"
                                  ],
                                  "description": "Document source citation - matches AI SDK SourceDocumentUIPart"
                                },
                                "sourceId": {
                                  "type": "string",
                                  "description": "Unique identifier for this source"
                                },
                                "mediaType": {
                                  "type": "string",
                                  "description": "IANA media type of the document"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Title of the document"
                                },
                                "filename": {
                                  "type": "string",
                                  "description": "Filename of the document"
                                },
                                "providerMetadata": {
                                  "type": "object",
                                  "properties": {
                                    "cossistant": {
                                      "type": "object",
                                      "properties": {
                                        "visibility": {
                                          "type": "string",
                                          "enum": [
                                            "public",
                                            "private"
                                          ],
                                          "description": "Part-level visibility control for filtering"
                                        },
                                        "progressMessage": {
                                          "type": "string",
                                          "description": "Custom progress message to display during execution"
                                        },
                                        "knowledgeId": {
                                          "type": "string",
                                          "description": "Reference to a Cossistant knowledge entry"
                                        },
                                        "toolTimeline": {
                                          "type": "object",
                                          "properties": {
                                            "logType": {
                                              "type": "string",
                                              "enum": [
                                                "customer_facing",
                                                "log",
                                                "decision"
                                              ],
                                              "description": "Tool timeline classification: conversation-visible, log-only, or decision stage"
                                            },
                                            "triggerMessageId": {
                                              "type": "string",
                                              "description": "Message ID that triggered the tool/decision workflow execution"
                                            },
                                            "workflowRunId": {
                                              "type": "string",
                                              "description": "Workflow run identifier used to correlate tool timeline updates"
                                            },
                                            "triggerVisibility": {
                                              "type": "string",
                                              "enum": [
                                                "public",
                                                "private"
                                              ],
                                              "description": "Visibility of the trigger message at the time the tool was executed"
                                            }
                                          },
                                          "required": [
                                            "logType",
                                            "triggerMessageId",
                                            "workflowRunId"
                                          ],
                                          "description": "Tool timeline metadata used to classify visibility and trigger linkage"
                                        }
                                      }
                                    }
                                  },
                                  "additionalProperties": {}
                                }
                              },
                              "required": [
                                "type",
                                "sourceId",
                                "mediaType",
                                "title"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "step-start"
                                  ],
                                  "description": "Step boundary marker - matches AI SDK StepStartUIPart"
                                }
                              },
                              "required": [
                                "type"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "file"
                                  ],
                                  "description": "File attachment - matches AI SDK FileUIPart"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "URL of the file (can be hosted URL or Data URL)"
                                },
                                "mediaType": {
                                  "type": "string",
                                  "description": "IANA media type of the file"
                                },
                                "filename": {
                                  "type": "string",
                                  "description": "Original filename"
                                },
                                "size": {
                                  "type": "number",
                                  "description": "Size of the file in bytes"
                                }
                              },
                              "required": [
                                "type",
                                "url",
                                "mediaType"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "image"
                                  ],
                                  "description": "Image attachment with dimensions"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "URL of the image"
                                },
                                "mediaType": {
                                  "type": "string",
                                  "description": "IANA media type of the image"
                                },
                                "filename": {
                                  "type": "string",
                                  "description": "Original filename of the image"
                                },
                                "size": {
                                  "type": "number",
                                  "description": "Size of the image in bytes"
                                },
                                "width": {
                                  "type": "number",
                                  "description": "Width of the image in pixels"
                                },
                                "height": {
                                  "type": "number",
                                  "description": "Height of the image in pixels"
                                }
                              },
                              "required": [
                                "type",
                                "url",
                                "mediaType"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "translation"
                                  ],
                                  "description": "Stored translation for a timeline item message, scoped to an audience"
                                },
                                "text": {
                                  "type": "string",
                                  "description": "Translated text content"
                                },
                                "sourceLanguage": {
                                  "type": "string",
                                  "description": "Detected/source language of the original message"
                                },
                                "targetLanguage": {
                                  "type": "string",
                                  "description": "Language of the translated text"
                                },
                                "audience": {
                                  "type": "string",
                                  "enum": [
                                    "team",
                                    "visitor"
                                  ],
                                  "description": "Audience this translated text is meant for"
                                },
                                "mode": {
                                  "type": "string",
                                  "enum": [
                                    "auto",
                                    "manual"
                                  ],
                                  "description": "Whether this translation was created automatically or manually"
                                },
                                "modelId": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "description": "Model identifier used to generate the translation, if any"
                                }
                              },
                              "required": [
                                "type",
                                "text",
                                "sourceLanguage",
                                "targetLanguage",
                                "audience",
                                "mode"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "event"
                                  ],
                                  "description": "Type of timeline part - always 'event' for event parts"
                                },
                                "eventType": {
                                  "type": "string",
                                  "enum": [
                                    "assigned",
                                    "unassigned",
                                    "participant_requested",
                                    "participant_joined",
                                    "participant_left",
                                    "status_changed",
                                    "priority_changed",
                                    "tag_added",
                                    "tag_removed",
                                    "resolved",
                                    "reopened",
                                    "visitor_blocked",
                                    "visitor_unblocked",
                                    "visitor_identified",
                                    "ai_paused",
                                    "ai_resumed"
                                  ],
                                  "description": "Type of event that occurred"
                                },
                                "actorUserId": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "description": "User that triggered the event, if applicable"
                                },
                                "actorAiAgentId": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "description": "AI agent that triggered the event, if applicable"
                                },
                                "targetUserId": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "description": "User targeted by the event, if applicable"
                                },
                                "targetAiAgentId": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "description": "AI agent targeted by the event, if applicable"
                                },
                                "message": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "description": "Optional human readable message attached to the event"
                                }
                              },
                              "required": [
                                "type",
                                "eventType",
                                "actorUserId",
                                "actorAiAgentId",
                                "targetUserId",
                                "targetAiAgentId"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "metadata"
                                  ],
                                  "description": "Type of timeline part - always 'metadata' for metadata parts"
                                },
                                "source": {
                                  "type": "string",
                                  "enum": [
                                    "email",
                                    "widget",
                                    "api"
                                  ],
                                  "description": "Source channel through which the message was created"
                                }
                              },
                              "required": [
                                "type",
                                "source"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "feedback"
                                  ],
                                  "description": "Type of timeline part - always 'feedback' for feedback parts"
                                },
                                "feedbackId": {
                                  "type": "string",
                                  "description": "Feedback record associated with this timeline item"
                                },
                                "rating": {
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 5,
                                  "description": "Visitor rating from 1 to 5"
                                },
                                "topic": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "description": "Structured feedback topic selected by the visitor"
                                },
                                "trigger": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "description": "What triggered this feedback"
                                },
                                "source": {
                                  "type": "string",
                                  "description": "Source channel where the feedback was collected"
                                }
                              },
                              "required": [
                                "type",
                                "feedbackId",
                                "rating",
                                "source"
                              ]
                            }
                          ]
                        },
                        "description": "Array of timeline parts that make up the timeline item content. Includes AI SDK compatible parts (text, reasoning, tool-*, source-url, source-document, step-start, file, image) and Cossistant-specific parts (event, metadata, feedback)."
                      },
                      "visibility": {
                        "type": "string",
                        "enum": [
                          "public",
                          "private"
                        ],
                        "default": "public",
                        "description": "Visibility level of the timeline item"
                      },
                      "tool": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "Optional tool identifier when sending non-message timeline items"
                      },
                      "userId": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "ID of the user creating this timeline item"
                      },
                      "aiAgentId": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "ID of the AI agent creating this timeline item"
                      },
                      "visitorId": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "description": "ID of the visitor creating this timeline item"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Optional client-authored timestamp. When omitted, the server assigns the timestamp. Historical timestamps are allowed. Timestamps more than 5 minutes in the future are rejected.",
                        "example": "2026-04-06T14:37:05.820Z"
                      }
                    },
                    "required": [
                      "text"
                    ],
                    "description": "Timeline item to create. When createdAt is omitted, the server assigns the timestamp. Historical timestamps are allowed. Timestamps more than 5 minutes in the future are rejected."
                  }
                },
                "required": [
                  "conversationId",
                  "item"
                ],
                "description": "Request body for sending a timeline item to a conversation"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Timeline item sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the timeline item"
                        },
                        "conversationId": {
                          "type": "string",
                          "description": "ID of the conversation this timeline item belongs to"
                        },
                        "organizationId": {
                          "type": "string",
                          "description": "ID of the organization this timeline item belongs to"
[...]
